/* You can add global styles to this file, and also import other style files */
.card-filme .p-card-title {
    font-size: 1rem !important;
}

.card-filme .p-card-subtitle {
    font-size: 0.8rem !important;
}

.card-cinema .p-card {
    background-color: rgb(228, 228, 228) !important;
}
